<form action="/new" method="post">
  <input type="text" name="user" placeholder="Enter your name" />
  <input type="text" name="text" placeholder="Enter your message here" />
  <button type="submit">Post</button>
</form>
