<ul>
  <% messages.forEach(function(message) { %>
  <li>
    <div style="margin: 0; padding: 0">
      <h1 style="margin: 0; padding: 0"><%= message.user %></h1>
      <h2 style="margin: 0; padding: 0"><%= message.text %></h2>
      <h3 style="margin: 0; padding: 0">
        <%= message.added.toLocaleString() %>
      </h3>
    </div>
  </li>
  <hr />
  <% }); %>
</ul>
